/* ----------  GENERAL STYLES --------------*/

body{
    font-family: Arial, Sans-Serif;
    font-size: 100%;
}

header{
    padding: 30px 0;
    background-color: green;
}

.container{
    margin: 0 auto;
    width: 900px;
}

dl{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* ----------  NAVIGATION SECTION --------------*/

.navigation{
    background-color: darkgray;
    border-color: #101010;
    min-height: 48px;
}

.navigation li {
    float: left;
    width: 25%;
}

.navigation a{
    display: block;
    color: black;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
}

.active-item,
.navigation li a:hover {
    color: yellowgreen;
    background-color: #666666;
}

.selected{
    background-color: #666666;
}

colgroup{
    background-color: lavender;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    /*margin-top: 30px;*/
    margin-bottom: 30px;
}

th{
    height: 50px;
}
th, td{
    border: 2px solid white;
    word-wrap:break-word;
}

.strike-through{
    text-decoration: line-through;
}

.first-name, .last-name{
    width: 32%;
}

.created-at{
    width: 23%;
}

.lock-status{
    width: 8%;
    text-align: center;
}

.edit-button{

}

